.sidebar-container{
    height: 100%;
    width: 380px;
    // background-color: #1A87FE;
    background-color: white;
    position: fixed;
    left: 0;
    box-shadow: -2px 0 6px #67676761;

    .sb-title-div{
        padding: 26px 35px 23px;
        background-color: #FDD235;
        h3{
            opacity: 0.5;
        }
    }

    .sb-inner{
        padding: 30px 35px;

        h3{
            color: #000F6C
        }
    }
}