.sidebar-container{
    height: 100%;
    width: 380px;
    // background-color: #1A87FE;
    background-color: white;
    position: fixed;
    left: 0;
    box-shadow: -2px 0 6px #67676761;

    .sb-inner{
        padding: 30px 35px;

        .sb-title-div{
            // border-bottom: 1.3px solid rgba(0, 0, 0, 0.116);
            padding-bottom: 7px
        }

        h3{
            color: #000F6C
        }
    }
}